
<div class="row" style="margin-top:1em">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Ваш акаунт успішно створенно</h2>
        <p>Приємного користування та швидких доставок!</p>
        <hr />
        <p>Дякуємо за реєстрацію!</p>
    </div>
</div>