
@{
    ViewData["Title"] = "Global Delivery";
}

<div class="title-style">Global Delivery - сучасна Українська логістична комапнія.</div>
<div class="form-block-location"><div></div>
    <form method="post" asp-area="User" asp-controller="Home" asp-action="SearchPackage" style="width:400px">
        <div class="card border-light mb-3 border p-3 mt-4">
            <div class="row pb-2 text-center">
                <h6 class="text-black text-primary">Для пошуку замовлення введіть номер ТТН:</h6>
            </div>
            <div class="mb-3" style="width:350px">
                <input name="searchString" class="form-control " />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width:95%; text-align:center;">Знайти</button>
            </div>
        </div>
    </form><div></div>
</div>
<div class="text-style">
    &nbsp&nbsp&nbsp"Global Delivery" - це професійна логістична компанія, яка надає швидкі, надійні та ефективні 
    послуги доставки по всьому світу. Ми спеціалізуємось на міжнародних перевезеннях вантажів будь-якої складності, 
    забезпечуючи повний комплекс логістичних послуг, від збору та упакування вантажу до його доставки 
    терміновими транспортними засобами.<br />
    &nbsp&nbsp&nbspНаша компанія має досвідчену команду фахівців з логістики, які знають, як найкращим чином організувати 
    перевезення вантажів, використовуючи найсучасніші технології та програмні рішення. Ми забезпечуємо високу 
    якість обслуговування та індивідуальний підхід до кожного клієнта, забезпечуючи повну інформаційну підтримку 
    протягом всього процесу перевезення.<br />
    &nbsp&nbsp&nbspНаші клієнти можуть бути впевнені, що їх вантаж буде доставлений вчасно та безпечно, 
    адже ми пильно стежимо за кожним етапом перевезення. З нами ваші вантажі в надійних руках!<br />
    &nbsp&nbsp&nbspМи розуміємо, що для бізнесу час - гроші, тому пропонуємо найшвидші та найефективніші маршрути доставки вантажів
    з мінімальними витратами на перевезення. Ми також надаємо можливість відстеження вантажу в режимі реального часу, 
    що дозволяє клієнтам контролювати процес доставки та бути впевненими в безпеці своїх вантажів.<br />
    &nbsp&nbsp&nbspМи прагнемо створити довгострокові партнерські відносини з нашими клієнтами, надаючи їм найвищий рівень 
    обслуговування та якості послуг. Обирайте "Global Delivery" - вашого надійного партнера в логістиці!
</div>