
@{
    ViewData["Title"] = "Index";
}

<div class="title-style">Graduate Work - сучасна Українська логістична комапнія.</div>
<div class="search-block-location"><div></div>
    <form asp-action="Index" method="post" style="width:400px">
        <div class="card border-light mb-3 border p-3 mt-4">
            <div class="row pb-2 text-center">
                <h6 class="text-black text-primary">Для пошуку замовлення введіть номер ТТН:</h6>
            </div>
            <div class="mb-3" style="width:350px">
                <input name="searchString" class="form-control " />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width:95%; text-align:center;">Знайти</button>
            </div>
        </div>
    </form><div></div>
</div>
<div class="text-style">
    &nbsp&nbsp&nbspОстанні роки проблеми контролю, прискорення швидкості бізнес-процесів,
    підвищення продуктивності та економії робочої сили стають все більш актуальними. 
    На сьогодні ці проблеми більшість компаній вирішують впровадженням автоматизованих технологій.<br />
    &nbsp&nbsp&nbspЛогістичні компанії також не обійшлися без впровадження нових технологій і зараз
    автоматизовані бізнес-процеси продовжують кардинально впливати на транспортні та логістичні 
    системи на всіх етапах походження товару до точки його споживання.<br />
    &nbsp&nbsp&nbspМетою моєї роботи є створення модулю обліку й оброблення замовлень для логістичної компанії.
    Він має надати можливість користувачеві самостійно створювати нові замовлення, 
    підтверджувати їх, отримувати сповіщення про оновлення статусу, а також в будь-який 
    момент будь-де надати можливість відстеження замовлення.
</div>