
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 style="text-align:center;">@ViewData["Title"]</h1>

<br />Ми зобов'язуємося забезпечувати конфіденційність та захист персональних даних користувачів нашого веб-сайту. Ця політика конфіденційності визначає, як ми збираємо, використовуємо та захищаємо будь-яку інформацію, яку ви надаєте нам під час використання цього веб-сайту. Будь ласка, уважно прочитайте цю політику, щоб зрозуміти наші практики щодо вашої персональної інформації.<br />
<br /><strong><h3>Інформація, яку ми збираємо: </h3></strong>
<br /><h5>Ми можемо збирати наступні типи інформації від вас під час використання нашого веб-сайту:</h5>
<br /><h6>1. Особиста інформація: </h6>
<br />Це включає ваше ім'я, електронну адресу, поштову адресу, номер телефону та будь-яку іншу особисту інформацію, яку ви надаєте нам. Ми можемо збирати цю інформацію, коли ви реєструєтеся для отримання наших послуг, заповнюєте форму або звертаєтеся до нас за підтримкою клієнтів.
<br /><br /><h6>2. Дані використання: </h6>
<br />Ми збираємо інформацію про те, як ви використовуєте наш веб-сайт, включаючи відвідувані сторінки, час, проведений на кожній сторінці, та будь-які запити пошуку. Це допомагає нам покращувати наш веб-сайт та пристосовувати наші послуги, щоб краще задовольняти ваші потреби.
<br /><br /><h6>3. Куки: </h6>
<br />Як і багато інших веб-сайтів, ми використовуємо куки, щоб поліпшити ваш досвід користувача та збирати інформацію про ваше використанання нашого веб-сайту. Куки - це невеликі файли, які зберігаються на вашому пристрої вашим веб-браузером. Ви можете вибрати вимкнути куки в налаштуваннях вашого браузера, але зверніть увагу, що це може вплинути на вашу можливість використовувати наш веб-сайт.
<br /><br /><strong><h3>Як ми використовуємо вашу інформацію: </h3></strong>
<br /><h5>Ми використовуємо інформацію, яку ми збираємо від вас наступними способами:</h5>
<br /><h6>1. Для надання та покращення наших послуг:</h6>
<br />Ми використовуємо вашу особисту інформацію та дані використання, щоб надавати вам послуги, які ви запитали, відповідати на ваші запити та запити, та покращувати наш веб-сайт та послуги.
<br /><br /><h6>2. Для комунікації з вами: </h6>
<br />Ми можемо використовувати вашу інформацію для зв'язку з вами стосовно вашого використання нашого веб-сайту та наших послуг, включаючи повідомлення про зміни в нашій політиці конфіденційності та інші важливі оголошення.
<br /><br /><strong><h3>Захист вашої інформації: </h3></strong>
<br />Ми робимо все можливе, щоб забезпечити захист вашої персональної інформації. Ми використовуємо захисні технології та процедури для запобігання несанкціонованому доступу до вашої інформації та її втраті, викраденню та недобросовісному використанню.
<br /><br /><strong><h3>Розкриття вашої інформації</h3></strong>
<br />Ми не розкриваємо вашу персональну інформацію третім особам, за винятком випадків, коли ми зобов'язані це зробити згідно з законом або за вашої згоди.